

<div>
  <nav style="display: grid; grid-template-columns: repeat(3, 1fr); place-items: center;">
    <button mat-button>HomePage</button>
  
    <button mat-icon-button (click)="cartClick()" class="cart-icon">
      <mat-icon>add_shopping_cart</mat-icon>
      <span *ngIf="count > 0">{{ count }}</span>
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </nav>
  <div class="product-grid ">
  <div  *ngFor="let item of product" class="product-card">
      <h3>Name: {{ item.brand }}</h3>
      <div class="img-container">
        <img [src]="item.image" [alt]="item.brand" />
    </div>
      <h5>Price: {{ item.price }}</h5>
      <button (click)="handleCart(item.id)" >Cart</button>
    </div>
  </div>
</div>
