

<div>
  <nav style="display: grid; grid-template-columns: repeat(2, 1fr); place-items: center;">
   <button (click)="cartClick()">Cart Item {{count>0 ? count : ""}}</button>
    <button (click)="logout()">Logout</button>
  </nav>
  <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 2vh; padding: 2vh;">
    <div *ngFor="let item of product">
      <h1>Brand: {{ item.brand }}</h1>
      <img [src]="item.image" [alt]="item.brand" />
      <h5>Price: {{ item.price }}</h5>
      <button (click)="handleCart(item.id)" >Cart</button>
    </div>
  </div>
</div>
